<div class="container">
    <div class="row" style="margin-top: 100px; color: white;">
        <div class="col-3">
            <img src="" class="img-circle" style="width: 200px;"/>
        </div>
        <div class="col-9">
            <h4>Our bold and fearless leader.</h4>
        </div>
    </div>
</div>
