	<!-- === Arrows === -->
<!-- 	<div id="arrows">
	<div id="arrow-up" class="disabled"></div>
	<div id="arrow-down"></div>
	<div id="arrow-left" class="disabled visible-lg"></div>
	<div id="arrow-right" class="disabled visible-lg"></div>
</div> --><!-- /.arrows -->
	
	
<!-- === MAIN Background === -->
<div class="slide story" id="slide-1" data-slide="1">
	<div class="container">
		<div id="home-row-1" class="row clearfix" style="padding-top: 0;">
			<div class="col-12">
				<h1 class="font-semibold" style="padding-top: 100px;">IM<span class="font-thin">ZIST</span></h1>
				<br><br>
				<h4 class="font-thin">Because to share is <span class="font-semibold">to be free</span></h4>
				<br>
				<br>
			</div><!-- /col-12 -->
		</div><!-- /row -->
		<div id="home-row-2" class="row clearfix">
		    <div class="col-12 col-sm-4"><div class="home-hover navigation-slide"><img id="brooklyn" src="~/Content/Munter/images/brooklynsymbol.png" /></div><span>BROOKLYN</span></div>
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide"><img id="lakewood" src="~/Content/Munter/images/lakewoodsymbol.png"></div><span>LAKEWOOD</span></div>
			<div class="col-12 col-sm-4"><div class="home-hover navigation-slide"><img id="monsey" src="~/Content/Munter/images/monseysymbol.png"></div><span>MONSEY</span></div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /slide1 -->

@section scripts
{
     <script>
            $(document).ready(function (e) {
                var lis = $('.nav > li');
                menu_focus(lis[0], 4);

                $("#brooklyn").click(function() {
                    window.location.href = "/Brooklyn/Listings";
                });
                
                $("#lakewood").click(function () {
                    window.location.href = "/Lakewood/Listings";
                });
                
                $("#monsey").click(function () {
                    window.location.href = "/Monsey/Listings";
                });
            });
        </script>
}