@using Imzist.Data
@model Imzist.Data.Item

<h2>@Model.Name</h2>

<p>@Model.Description</p>

<div class="images">
@foreach(Image image in Model.Images)
{
    <img src="~/Content/images/thumbnail/@image.Name"/>
}
</div>