@using Imzist.Data
@using Imzist.Web.Helpers
@model Imzist.Web.Models.ItemViewModel


<div class="modal fade bs-modal-lg" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" style="margin-top: 100px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="contactLabel">Contact</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="email">My Email Address</label>
                        <input id="email" class="form-control" type="email"/>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" class="form-control" rows="8"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="hidden"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="sendEmailBtn" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-2">
            @if (Model.IsPoster)
            {

                <button class="btn btn-info btn-lg" style="margin-top: 25px; margin-right: 35px; display: block;">Edit</button>
                <button class="btn btn-danger btn-lg" style="margin-top: 25px; margin-right: 35px; display: block;">Delete</button>
            }
            else
            {
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".bs-modal-lg" style="margin-top: 25px; margin-right: 35px; display: block;">Contact Owner</button>
            }
            
        </div>
        <div class="col-9" style="color: white; margin-left: 20px;">
            
            <h2>@Model.Item.Title</h2>

            <p style="font-size: 130%; margin-bottom: 60px;">@Model.Item.Description</p>

            <div id="images" class="images text-center">
                
                @foreach (Image image in Model.Item.Images)
                {
                    <img class="image" name="@image.Name" src="~/Content/images/thumbnail/@image.Name" style="height: 50px; margin-right: 20px; margin-bottom: 40px;"/>
                }
            </div>
            <div class="text-center">
                <img id="bigImage" src="" style="height: 500px;"/>    
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            var lis = $('.nav > li');
            menu_focus(lis[1], 4);

            $(".image").hover(
                function() {
                    $("#bigImage").attr("src", "/Content/images/full/" + $(this).attr("name"));
                },
                function() {
                }
            );
        })
    </script>
    <script>
        $(function() {
            $("#sendEmailBtn").on('click', function() {
                    var replyToAddress = $('#email').val();
                    var message = $('#message').val();

                    $(this).attr("disabled", "disabled");
                    $.post('/@LocationResolver.GetLocation().Name/item/sendEmail', { itemId: @Model.Item.Id, replyToAddress: replyToAddress, message: message }, function(data) {
                    if (data.status) {
                        alert("Your email has successfully been sent");
                        $("#modal").modal("hide");
                    } else {
                        $(this).removeAttr("disabled");
                        alert("There was a problem sending your email. Please try again later");
                    }
                });
            });
        })

    </script>
   
}