@using Imzist.Data
@using Imzist.Web.Helpers
@model Imzist.Web.Models.ListingsViewModel

@section styles
{
    <style>
        .bs-sidebar .affix {
	        position: fixed; 
	        top: 70px;
	        left: 62px;
	        width: 360px;
        }
        .bs-sidebar .affix-top {
	        position: fixed; 
	        top: 70px;
	        left: 62px;
	        width: 360px;
        }
        .bs-sidebar .affix-bottom {
	        position: absolute;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <div class="bs-sidebar affix" id="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <div class="bs-sidebar affix pull-right stickySidebar" d="stickySidebar" style="margin-left: 50px; background-color: #f0eeec; padding-bottom: 4px; padding-top: 0; padding-left: 8px; padding-right: 8px; margin-top: 90px; border-top-left-radius: 15px ; border-top-right-radius: 15px; width: 120px; margin-left: 0;">
                    <ul id="categories" class="nav bs-sidenav nav-pills nav-stacked">
                        <li style="font-size: 150%;"><a href="/Account/Logout"><span class="icon icon-remove-circle"></span> <span class="text">logout</span></a></></li>
                    </ul>
                </div>
                <!--well bs-sidebar affix-->
            </div>`
            <div class="bs-sidebar affix" id="sidebar" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
                <div class="bs-sidebar affix stickySidebar" id="stickySidebar" style="background-color: #f0eeec; padding: 4px; padding-left: 8px; padding-right: 8px; margin-top: 160px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; width: 120px; margin-left: 0;">
                    <ul id="categories" class="nav bs-sidenav nav-pills nav-stacked">
                        <li>@Html.RouteLink("All", new {category = "", controller = "Account", action= "GetPosts"})</li>
                        <hr style="border-color: black; height: 1px; margin: 4px;" />
                        @foreach (Category category in @Model.Categories)
                        {
                            <li>@Html.RouteLink(category.Name, new {category = category.Name, controller = "Account", action= "GetPosts"})</li>
                            if (category != Model.Categories.Last())
                            {
                                <hr style="border-color: black; height: 1px; margin: 4px;" />
                            }
                        }
                    </ul>
                </div>
                <!--well bs-sidebar affix-->
            </div>
            <!--col-md-3-->
        </div>
        <div class="col-lg-11" id="listings">
            <div>
                <div>
                    <h3 style="color: white; margin-top: 90px; margin-bottom: 40px; text-align: center;">@User.Identity.Name</h3>
                </div>
                <div id="allItems">
                    @if (Model.Items.Any())
                    {
                        Html.RenderPartial("_Item", Model);
                    }
                    else
                    {
                        <br/><br/><br/>
                        <h1 style="color: #357EBD; text-align: center; font-size: 600%; margin-top: 55px; margin-bottom: 100px;">sharing . . .</h1>
                        <div class="col-2 col-lg-offset-5" style="border: grey; border-width: 1px; border-style: groove; border-radius: 15px;">
                            <h4 style="margin: 30px; color: #357EBD; text-align: center; font-style: italic;">it's a beautiful thing</h4> 
                        </div>
                    }
                   
                </div>
        </div>
        <!--row-->
        <div class="col-md-4"></div>
    </div>
</div>


@section scripts
{
    <script>
        $(function() {
            var lis = $('.nav > li');
            menu_focus(lis[3], 4);

            $(".stickySidebar").css("margin-left", (($("#listings").offset().left / 2) - $(".stickySidebar").width()));

            $(window).resize(function() {
                $(".stickySidebar").css("margin-left", (($("#listings").offset().left / 2) - $(".stickySidebar").width()));
            });

            $(".listItem").click(function() {
                var itemId = $(this).find("#id").val();
                window.location = "/" + $(this).find("#location").val() + "/Item/" + itemId;
            });
        });
    </script>
}