@model Imzist.Web.Models.ListingsViewModel


<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @{Html.RenderPartial("_Item", Model);}
        </div>
    </body>
</html>