<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                <input id="email" type="email" name="username" placeholder="Email" />
                <input id="pass" type="password" name="password" placeholder="Password" />
                <input id="conf" type="password" placeholder="Confirm Password" />
                <input id="submit" type="submit" class="btn" disabled="disabled" value="Submit" />
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/Scripts/UserScripts/signup.js"></script>
}


